html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    vertical-align: baseline;
}

.rating_personal{
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    margin-bottom: 20px;
    background: #e0f2f1;
    font-weight: bold;
}

.side_item {
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding-left: 30px;
}

.side_item:hover,
.side_item:focus {
    text-decoration: underline black;
    width: 100%;
}


.sidebar {
    margin-top: 25px;
    margin-left: 0px;
    padding: 0px;
    height: 95vh;
    border-right: solid #00897b;
}

.burger{
    margin-left: 15px;
    display: none;
}

.ul_sidebar {
    height: 400px;
}

.ul_sidebar>li {
    padding-bottom: 20px;
    font-size: 10px;
}


.brand-logo {
    margin-left: 10px;
}

/*AUTH*/
.auth-content-inner {
    margin: 100px 200px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    border-radius: 10px;
}

.mt-2 {
    margin-top: 40px;
}

input::placeholder {
    color: black;
    opacity: 50%;
}
textarea::placeholder {
    color: black;
    opacity: 50%;
}

.row .col.s9{
    width: 75%;
}

.reg_form {
    padding: 0px 100px;
    width: 650px;
}

@media (max-width: 1200px) {
    .sidebar {
        display: none;
    }
    .col {
        float: none;
    }
    .row .col.s9{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .brand-logo{
        margin-left: 50px;
    }
}

@media (max-width: 1000px) {
    .no_display{
        display: none;
    }
}

@media (max-width: 768px) {
    .cards{
        display: none;
    }
    .profile{
        margin: 20px 10px;
    }
}




/* home============================================================================*/

.home{
    display: flex;
    flex-direction: row;
}
.cards{
    width: 30%;
}

.home_content {
    margin: 50px;
}

.home_info {
    margin-top: 50px;
}

.home_btn {
    margin-top: 100px;
    margin-bottom: 100px;
}

.subject_card {
    margin: 10px 30px 10px 0px;
    padding: 10px;
    border: solid 1px;
    border-radius: 6px;
}

.active {
    background-color: #b2dfdb;
}

.filter {
    width: 50%;
    margin: 30px 0px;
}
/*profile====================================================================*/
.profile {
    margin: 100px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.profile_aside{
    width: 20%;
    min-width: 125px;
    height: 300px;
}

.profile_main{
    width: 80%;
    padding: 30px;
    min-width: 280px;
    margin: 0px 20px;
}

.col>img{
    border: rgb(255, 255, 255) solid;
    border-radius: 10px;
}

.profile_aside_item{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    color: black;
}

.profile_aside_item:hover{
    background-color: #80cbc4;;
}

.active_link div{
    background-color: #4db6ac;
    border-left: black solid;
}


textarea[name="details"] {
    height: 60px;
    resize: none;
    margin-top: 20px;
    border: #00796b solid;
    border-radius: 10px;
}

.profile_name{
    font-weight: 1000;
    padding: 20px 0px;
}

/*errors==============================*/

.error_alert{
    margin: 10px 30px 10px 0px;
    padding: 10px;
    border: #ef5350 solid;
    border-radius: 6px;
    background: #e57373;
    text-align: center;
    color: white;
}

.error {
    color: red;
}


/* students*==========================================================
 */

/* students=----------------------------------------------------------------------*/


.filters{
    background-color: #80cbc4;;
    color: black;
}

.students_board{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 10px;
    justify-content: center;
}

.student{
    width: 460px;
    background-color: #e0f2f1;
    margin: 10px;
    padding: 15px;
    border: #80cbc4 solid 1px;
    display: flex;
    justify-content: space-between; /* Может быть изменено */
}


.home_content>ul>li{
    margin-left: 25px;
    list-style-type: circle;
}

